<style>
	#map{
		border: 1px solid black;
		height: 300px;
		width: 400px;
	}
	input{
		width: 200px;
	}
</style>

<input></input>

<div id="map"></div>
<script src="/script.js"></script>
<script async type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4vP8QnuK9A88LyIbgE9BzQw9G-1lMsGc&libraries=places&callback=initMap"></script>

<table id="bar_details">
  <tr>
    <td class="label">Name</td>
    <td class="slimField"><input class="field" id="name" disabled="true"/></td>
  </tr>
  <tr>
    <td class="label">Address</td>
    <td class="wideField" colspan="3"><input class="field" id="address" disabled="true"/></td>
  </tr>
  <tr>
    <td class="label">Image</td>
    <td class="slimField"><input class="field" id="image" disabled="true"/></td>
  </tr>
  <tr>
    <td class="label">Business Hour</td>
    <td class="wideField" colspan="3"><input class="field" id="business_hour" disabled="true"/></td>
  </tr>
  <tr>
    <td class="label">Closing Hour</td>
    <td class="wideField" colspan="3"><input class="field" id="closing_hour" disabled="true"/></td>
  </tr>
  <tr>
    <td class="label">Type</td>
    <td class="wideField" colspan="3"><input class="field" id="type" disabled="true"/></td>
  </tr>
</table>